<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClassLibrary1.Properties.Settings>
            <setting name="correctionFile" serializeAs="String">
                <value>AS-50-Y_0700-1200_570.gdc</value>
            </setting>
            <setting name="scriptFile" serializeAs="String">
                <value>g.script</value>
            </setting>
            <setting name="s1Power" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="s2Power" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="s3Power" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="s1LaserOn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="s2LaserOn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="s3LaserOn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="s1LaserOff" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="s2LaserOff" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="s3LaserOff" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="s1PolygonDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s2PolygonDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s3PolygonDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s1MarkDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="s2MarkDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="s3MarkDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="s1JampDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="s2JampDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="s3JampDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="s1Fps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s2Fps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s3Fps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s1Q1" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="s2Q1" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="s3Q1" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="s1Q2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="s2Q2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="s3Q2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="s1JampSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s2JampSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s3JampSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s1MarkSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s2MarkSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s3MarkSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s1Step" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="s2Step" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="s3Step" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="printDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="workSpace" serializeAs="String">
                <value>F:\spiCtrl</value>
            </setting>
        </ClassLibrary1.Properties.Settings>
    </userSettings>
</configuration>